.card-light-container {
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card-dark-container {
  background-color: #242731;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.link-light, .link-light:active, .link-light:hover, .link-light:visited {
  color: #000000;
}

.link-dark, .link-dark:active, .link-dark:hover, .link-dark:visited {
  color: #ffffff;
}

.card-container {
  width: 570px;
  min-height: 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;

  &:not(:first-child) {
    margin-top: 10px;
  }

  .number {
    align-self: center;
    width: max-content;
    padding-left: 15px;
    font-family: Montserrat-Medium, serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .logo {
    display: flex;
    align-self: center;
    align-items: center;
    height: max-content;
    padding-inline: 20px;

    img {
      width: 63px;

    }
  }

  .text {
    align-self: center;
    width: 165px;
    margin-bottom: 10px;

    .store-name {
      font-family: Montserrat-Medium, serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      max-width: 160px;
    }

    .product-name {
      font-family: Montserrat-Medium, serif;
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
      max-width: 160px;
    }

    .weight {
      font-family: Montserrat-Medium, serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #838383;
      padding-top: 6px;
    }
  }

  .price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 150px;

    .price {
      font-family: Montserrat-Medium, serif;
      font-weight: 600;
      font-size: 28px;
      line-height: 24px;
      align-self: flex-end;
      padding-left: 60px;
      max-width: 125px;
    }
  }
}

.best-price-card-container {
  border: 1px solid #FFED00;
}

.price-increase {
  margin-left: 25px;
  position: relative;
  padding: 8px;

  .cheng {
    position: absolute;
    right: 15px;
    top: 28px;
    font-family: "Montserrat-Regular", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  img {
    cursor: pointer;
  }

}

@media (max-width: 640px) {
  .card-container .price-container {
    width: 105px;
  }

  .price-increase {
    margin-left: 5px;
  }
  .container .cards-container {
    width: 585px;
  }


  .container {
    width: 596px;
  }

  .card-container {
    width: 515px;
  }
}

@media (max-width: 610px) {
  .container {
    width: 538px;
  }


  .container .cards-container {
    width: 530px;
  }
}

@media (max-width: 570px) {
  .card-container {
    flex-wrap: wrap;
    min-height: auto;
    width: 427px;
  }

  .container .cards-container {
    width:490px;
  }

  .container {
    width: 489px;
  }

  .card-container .text{
    width: 180px;

  }
}

@media (max-width: 505px) {
  .container .card-filters {
    flex-direction: column;
    height: 135px;
    //width: 320px;

  }

  .container {
    width: 355px;
  }

  .container .cards-container {
    width:350px;
  }

  .card-container {
    width: 335px;
  }

  .dropdown-text {
    margin-bottom: 15px;
  }

  .price-sort-container {
    margin-bottom: 15px;
  }

  .cards-filters-picker {
    justify-content: center;
  }

  .cards-sort-container {
    justify-content: center;
  }

  .card-container .price-container {
    width: 135px;
  }


  element.style {
  }
  .picker-container {

    margin-left: 0px;
  }

  .price-sort-container {
    margin-left: 35px;
  }

  .price-increase {
    margin-left: 85px;
  }
}

@media (max-width: 370px) {
  .price-increase {
    margin-left: 35px;
  }

  .container {
    width: 305px;
  }

  .container .cards-container {
    width:300px;
  }

  .card-container {
    width: 295px;
  }

  .card-container .text {

    margin-left: 15px;
  }

  .header {
    padding-inline: 4%;
  }

}
