.dropdown-light {
  background-color: #FFFFFF;
  border: 0.5px solid #979797;
  .Dropdown-menu {
    .Dropdown-option {
      color: #838383;
    }
  }
}

.dropdown-dark {
  background-color: #373A43;
  border: none;
}

.dropdown {
  width: 94px;
  height: 31px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 13px;
  z-index: 2;

  .dr-arrow {
    position: absolute;
    right: 12px;
    bottom: 10px;
    width: 9px;
    height: 8px;
  }
}

.dropdown-light-text {
  color: #838383;
  .Dropdown-option {
    color: #838383;
  }
}

.dropdown-dark-text {
  color: #979797;
  .Dropdown-option {
    color: #979797;
  }
}

.dropdown-text {
  font-family: Montserrat-Medium, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2px;
}

.menu-light {
  background-color: #FFFFFF;
  border: 0.5px solid #979797;
}

.menu-dark {
  background-color: #373A43;
  border: none;
}

.menu {
  border-radius: 6px;
  padding-top: 10px;
  margin-top: -10px;
  z-index: 1;
}

.Dropdown-menu {
  .Dropdown-option {
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 8px;

    &:last-child {
      margin-bottom: 5px;
    }

    &:hover {
      background-color: #0062FF;
      color: #FFFFFF;
    }
  }

  .is-selected {
    background-color: #0062FF;
    color: #FFFFFF;
  }
}