.main-app-container {
  display: flex;
  justify-content: center;
  margin-top: 39px;
  margin-bottom: 20px;
  padding-inline: 30px;
  flex-wrap: wrap;

  .app-child {
    margin-right: 30px;
  }
}

@media (max-width: 1175px) {
  .main-app-container {
    .app-child {
      margin-top: 40px;
      margin-left: 0;
    }
  }
}