.picker-light-container {
  background-color: #ffffff;
  border: 0.5px solid #979797;
}

.picker-dark-container {
  background-color: rgba(228, 228, 228, 0.1);
}

.picker-container {
  height: 31px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-inline: 2px;
  margin-left: 19px;

  & :not(:last-child) {
    margin-right: 5px;
  }

  .picker-light-item {
    background-color: #ffffff;
    color: #696974;
  }

  .picker-dark-item {
    color: #808191;
  }

  .picker-item {
    height: 27px;
    min-width: 96px;
    outline: none;
    border-radius: 6px;
    font-family: Montserrat-Medium, serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .picker-item-chosen {
    background-color: #0062FF;
    color: #ffffff;
  }
}

@media (max-width: 505px) {
  .picker-container {
    margin-left: 0px;
  }
}

@media (max-width: 370px) {


  .picker-container .picker-item {
    min-width: 76px;
  }
}