.picker-container {
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #F1F1F5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-inline: 5px;

  & :not(:last-child) {
    margin-right: 5px;
  }

  .picker-item {
    height: 28px;
    min-width: 96px;
    outline: none;
    border-radius: 6px;
    font-family: Montserrat-Medium, serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #696974;
  }

  .picker-item-chosen {
    background-color: #0062FF;
    color: #ffffff;
  }
}