.header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: flex-end;
  padding-inline: 110px;

  .app-name {
    font-family: MoreMore, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
  }

  .app-light-name {
    color: #000000;
  }

  .app-dark-name {
    color: #ffffff;
  }
}