.best-price {
  height: 20px;
  width: 117px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FFED00 0%, #FFD600 100%);
  border-radius: 4px;
  font-family: Montserrat-Medium, serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
}
