body {
  margin: 0;
  background-color: #F2F2F2;
}

@font-face {
  font-family: 'MoreMore';
  src: local('Montserrat-Medium'), url(./assets/fonts/MoreMore.otf) format('opentype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter-Bold';
  src: local('Inter-Bold'), url(./assets/fonts/Inter-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular'), url(./assets/fonts/Inter-Regular.ttf) format('truetype');
}
